@inherits LayoutComponentBase

<div class="app-container">
    <NavMenu />
    
    <main class="main-content">
        <article class="content-wrapper">
            @Body
        </article>
    </main>
</div>
